<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <servlet>
        <servlet-name>Tracker</servlet-name>
        <servlet-class>tracker.Tracker</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Tracker</servlet-name>
        <url-pattern>/tracker</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TrackerKml</servlet-name>
        <servlet-class>tracker.TrackerKml</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TrackerKml</servlet-name>
        <url-pattern>/tracker.kml</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PilotTrackKml</servlet-name>
        <servlet-class>web.PilotTrackKml</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PilotTrackKml</servlet-name>
        <url-pattern>/pilot-track.kml</url-pattern>
    </servlet-mapping>
</web-app>
